# Django
DEBUG=True
SECRET_KEY=CHANGEME!!!

DOMAIN=http://localhost:8000
ALLOWED_HOSTS=*

INFURA_URL=https://mainnet.infura.io/v3/
INFURA_API_KEY=your-api-key-here
CONTRACT_ADDRESS=0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D
